# LENDING CLUD CASE STUDY

_" This  __"BANKING and FINANCIAL SERVICES"__  case study __"aims to benefit"__ consumer finance __"company to identify risky loan applicants"__. Additionally, it also __"helps to recognize the patterns which indicate if a loan applicant is likely to default"__, which could be used by the company to make decision on loan approval."_

#### Dataset 
loan.csv

#### Data Dictionary
Data_Dictionary.xlsx

## IMPORT ALL REQUIRED LIBRARIES
This step involves with importing all the required libraries for Lending Club Case Study.

In [132]:
#   Import all the required Python libraries

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

## SOURCING
This step involves fetching the input data/dataset for the case.

In [133]:
#   Fetch the data from loan.csv file.
loanData = pd.read_csv('loan.csv')
loanData.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [134]:
#   Print the file's head() data here.
print(loanData.head())
#   Print the file's tail() data here.
print(loanData.head())

        id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0  1077501    1296599       5000         5000           4975.0   36 months
1  1077430    1314167       2500         2500           2500.0   60 months
2  1077175    1313524       2400         2400           2400.0   36 months
3  1076863    1277178      10000        10000          10000.0   36 months
4  1075358    1311748       3000         3000           3000.0   60 months

  int_rate  installment grade sub_grade  ... num_tl_90g_dpd_24m  \
0   10.65%       162.87     B        B2  ...                NaN
1   15.27%        59.83     C        C4  ...                NaN
2   15.96%        84.33     C        C5  ...                NaN
3   13.49%       339.31     C        C1  ...                NaN
4   12.69%        67.79     B        B5  ...                NaN

  num_tl_op_past_12m pct_tl_nvr_dlq  percent_bc_gt_75 pub_rec_bankruptcies  \
0                NaN            NaN               NaN                  0.0
1                NaN            NaN               NaN                  0.0
2                NaN            NaN               NaN                  0.0
3                NaN            NaN               NaN                  0.0
4                NaN            NaN               NaN                  0.0

  tax_liens tot_hi_cred_lim total_bal_ex_mort total_bc_limit  \
0       0.0             NaN               NaN            NaN
1       0.0             NaN               NaN            NaN
2       0.0             NaN               NaN            NaN
3       0.0             NaN               NaN            NaN
4       0.0             NaN               NaN            NaN

  total_il_high_credit_limit
0                        NaN
1                        NaN
2                        NaN
3                        NaN
4                        NaN

[5 rows x 111 columns]
        id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0  1077501    1296599       5000         5000           4975.0   36 months
1  1077430    1314167       2500         2500           2500.0   60 months
2  1077175    1313524       2400         2400           2400.0   36 months
3  1076863    1277178      10000        10000          10000.0   36 months
4  1075358    1311748       3000         3000           3000.0   60 months

  int_rate  installment grade sub_grade  ... num_tl_90g_dpd_24m  \
0   10.65%       162.87     B        B2  ...                NaN
1   15.27%        59.83     C        C4  ...                NaN
2   15.96%        84.33     C        C5  ...                NaN
3   13.49%       339.31     C        C1  ...                NaN
4   12.69%        67.79     B        B5  ...                NaN

  num_tl_op_past_12m pct_tl_nvr_dlq  percent_bc_gt_75 pub_rec_bankruptcies  \
0                NaN            NaN               NaN                  0.0
1                NaN            NaN               NaN                  0.0
2                NaN            NaN               NaN                  0.0
3                NaN            NaN               NaN                  0.0
4                NaN            NaN               NaN                  0.0

  tax_liens tot_hi_cred_lim total_bal_ex_mort total_bc_limit  \
0       0.0             NaN               NaN            NaN
1       0.0             NaN               NaN            NaN
2       0.0             NaN               NaN            NaN
3       0.0             NaN               NaN            NaN
4       0.0             NaN               NaN            NaN

  total_il_high_credit_limit
0                        NaN
1                        NaN
2                        NaN
3                        NaN
4                        NaN

[5 rows x 111 columns]

In [135]:
# Lets get further information about the dataset from loan.csv.
loanData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

###   SOURCING Analysis    
1. Shape of the dataset --> 39717 rows and 111 columns<br><br>
2. Data types scattered in the loan.csv file --> float64(74), int64(13), object(24)<br>
-There are __74__ columns with ___Float___ as data type<br>
-There are __13__ columns with ___Integers___ as as datatype<br>
-There are __24__ columns with ___Object___ as as datatype<br>

##   CLEANING
This step involves cleaning the input data/dataset for the case, which could create issue for our analysis.

In [136]:
#   Lets remove the columns with null values 
loanData = loanData.dropna(axis=1, how='all')
print(loanData.head())
print(loanData.tail())

        id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0  1077501    1296599       5000         5000           4975.0   36 months
1  1077430    1314167       2500         2500           2500.0   60 months
2  1077175    1313524       2400         2400           2400.0   36 months
3  1076863    1277178      10000        10000          10000.0   36 months
4  1075358    1311748       3000         3000           3000.0   60 months

  int_rate  installment grade sub_grade  ... next_pymnt_d last_credit_pull_d  \
0   10.65%       162.87     B        B2  ...          NaN             May-16
1   15.27%        59.83     C        C4  ...          NaN             Sep-13
2   15.96%        84.33     C        C5  ...          NaN             May-16
3   13.49%       339.31     C        C1  ...          NaN             Apr-16
4   12.69%        67.79     B        B5  ...       Jun-16             May-16

  collections_12_mths_ex_med  policy_code application_type acc_now_delinq  \
0                        0.0            1       INDIVIDUAL              0
1                        0.0            1       INDIVIDUAL              0
2                        0.0            1       INDIVIDUAL              0
3                        0.0            1       INDIVIDUAL              0
4                        0.0            1       INDIVIDUAL              0

  chargeoff_within_12_mths delinq_amnt pub_rec_bankruptcies tax_liens
0                      0.0           0                  0.0       0.0
1                      0.0           0                  0.0       0.0
2                      0.0           0                  0.0       0.0
3                      0.0           0                  0.0       0.0
4                      0.0           0                  0.0       0.0

[5 rows x 57 columns]
          id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
39712  92187      92174       2500         2500           1075.0   36 months
39713  90665      90607       8500         8500            875.0   36 months
39714  90395      90390       5000         5000           1325.0   36 months
39715  90376      89243       5000         5000            650.0   36 months
39716  87023      86999       7500         7500            800.0   36 months

      int_rate  installment grade sub_grade  ... next_pymnt_d  \
39712    8.07%        78.42     A        A4  ...          NaN
39713   10.28%       275.38     C        C1  ...          NaN
39714    8.07%       156.84     A        A4  ...          NaN
39715    7.43%       155.38     A        A2  ...          NaN
39716   13.75%       255.43     E        E2  ...          NaN

      last_credit_pull_d collections_12_mths_ex_med  policy_code  \
39712             Jun-10                        NaN            1
39713             Jul-10                        NaN            1
39714             Jun-07                        NaN            1
39715             Jun-07                        NaN            1
39716             Jun-10                        NaN            1

      application_type acc_now_delinq chargeoff_within_12_mths delinq_amnt  \
39712       INDIVIDUAL              0                      NaN           0
39713       INDIVIDUAL              0                      NaN           0
39714       INDIVIDUAL              0                      NaN           0
39715       INDIVIDUAL              0                      NaN           0
39716       INDIVIDUAL              0                      NaN           0

      pub_rec_bankruptcies tax_liens
39712                  NaN       NaN
39713                  NaN       NaN
39714                  NaN       NaN
39715                  NaN       NaN
39716                  NaN       NaN

[5 rows x 57 columns]

In [137]:
#   Check the shape of the information of newly saved dataframe
loanData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 57 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   member_id                   39717 non-null  int64
 2   loan_amnt                   39717 non-null  int64
 3   funded_amnt                 39717 non-null  int64
 4   funded_amnt_inv             39717 non-null  float64
 5   term                        39717 non-null  object
 6   int_rate                    39717 non-null  object
 7   installment                 39717 non-null  float64
 8   grade                       39717 non-null  object
 9   sub_grade                   39717 non-null  object
 10  emp_title                   37258 non-null  object
 11  emp_length                  38642 non-null  object
 12  home_ownership              39717 non-null  object
 13  annual_inc                  39717 non-null  float64
 14  verification_status         39717 non-null  object
 15  issue_d                     39717 non-null  object
 16  loan_status                 39717 non-null  object
 17  pymnt_plan                  39717 non-null  object
 18  url                         39717 non-null  object
 19  desc                        26775 non-null  object
 20  purpose                     39717 non-null  object
 21  title                       39706 non-null  object
 22  zip_code                    39717 non-null  object
 23  addr_state                  39717 non-null  object
 24  dti                         39717 non-null  float64
 25  delinq_2yrs                 39717 non-null  int64
 26  earliest_cr_line            39717 non-null  object
 27  inq_last_6mths              39717 non-null  int64
 28  mths_since_last_delinq      14035 non-null  float64
 29  mths_since_last_record      2786 non-null   float64
 30  open_acc                    39717 non-null  int64
 31  pub_rec                     39717 non-null  int64
 32  revol_bal                   39717 non-null  int64
 33  revol_util                  39667 non-null  object
 34  total_acc                   39717 non-null  int64
 35  initial_list_status         39717 non-null  object
 36  out_prncp                   39717 non-null  float64
 37  out_prncp_inv               39717 non-null  float64
 38  total_pymnt                 39717 non-null  float64
 39  total_pymnt_inv             39717 non-null  float64
 40  total_rec_prncp             39717 non-null  float64
 41  total_rec_int               39717 non-null  float64
 42  total_rec_late_fee          39717 non-null  float64
 43  recoveries                  39717 non-null  float64
 44  collection_recovery_fee     39717 non-null  float64
 45  last_pymnt_d                39646 non-null  object
 46  last_pymnt_amnt             39717 non-null  float64
 47  next_pymnt_d                1140 non-null   object
 48  last_credit_pull_d          39715 non-null  object
 49  collections_12_mths_ex_med  39661 non-null  float64
 50  policy_code                 39717 non-null  int64
 51  application_type            39717 non-null  object
 52  acc_now_delinq              39717 non-null  int64
 53  chargeoff_within_12_mths    39661 non-null  float64
 54  delinq_amnt                 39717 non-null  int64
 55  pub_rec_bankruptcies        39020 non-null  float64
 56  tax_liens                   39678 non-null  float64
dtypes: float64(20), int64(13), object(24)
memory usage: 17.3+ MB

In [138]:
#   Remove all the duplicate items if there are any based on 'id' column 

#   Get the list of ids where only 1 id is taken if multiple found. 
loanData.duplicated(subset=None, keep='first').count()
#   Print the duplicate columns 
loanData[loanData.duplicated(['id'])]

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, policy_code, application_type, acc_now_delinq, chargeoff_within_12_mths, delinq_amnt, pub_rec_bankruptcies, tax_liens]
Index: []

[0 rows x 57 columns]

In [139]:
#   Lets Fetch further columns with only single values in all the rows. If found, removing them as these wont be able to help in our analysis

#   fetch all column names
col_list = np.array(loanData.columns.tolist())
col_list

#   Print the shape of dataframe before droping the columns with 1 value
print("Before running the logic to check for columns with only single value, dataframe shape is - "+str(loanData.shape))
#   code to loop all the columns, if the count of unique values in a column is 1, remove the column
for i in col_list:
    if len(loanData[str(i)].unique()) == 1:
        loanData = loanData.drop([str(i)], axis=1)

#   Print the shape of dataframe before droping the columns with 1 value
print("After running the logic to check for columns with only single value, dataframe shape is - "+str(loanData.shape))

print(loanData.head())
print(loanData.tail())

Before running the logic to check for columns with only single value, dataframe shape is - (39717, 57)
After running the logic to check for columns with only single value, dataframe shape is - (39717, 51)
        id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0  1077501    1296599       5000         5000           4975.0   36 months
1  1077430    1314167       2500         2500           2500.0   60 months
2  1077175    1313524       2400         2400           2400.0   36 months
3  1076863    1277178      10000        10000          10000.0   36 months
4  1075358    1311748       3000         3000           3000.0   60 months

  int_rate  installment grade sub_grade  ... recoveries  \
0   10.65%       162.87     B        B2  ...       0.00
1   15.27%        59.83     C        C4  ...     117.08
2   15.96%        84.33     C        C5  ...       0.00
3   13.49%       339.31     C        C1  ...       0.00
4   12.69%        67.79     B        B5  ...       0.00

  collection_recovery_fee last_pymnt_d  last_pymnt_amnt next_pymnt_d  \
0                    0.00       Jan-15           171.62          NaN
1                    1.11       Apr-13           119.66          NaN
2                    0.00       Jun-14           649.91          NaN
3                    0.00       Jan-15           357.48          NaN
4                    0.00       May-16            67.79       Jun-16

  last_credit_pull_d collections_12_mths_ex_med chargeoff_within_12_mths  \
0             May-16                        0.0                      0.0
1             Sep-13                        0.0                      0.0
2             May-16                        0.0                      0.0
3             Apr-16                        0.0                      0.0
4             May-16                        0.0                      0.0

  pub_rec_bankruptcies tax_liens
0                  0.0       0.0
1                  0.0       0.0
2                  0.0       0.0
3                  0.0       0.0
4                  0.0       0.0

[5 rows x 51 columns]
          id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
39712  92187      92174       2500         2500           1075.0   36 months
39713  90665      90607       8500         8500            875.0   36 months
39714  90395      90390       5000         5000           1325.0   36 months
39715  90376      89243       5000         5000            650.0   36 months
39716  87023      86999       7500         7500            800.0   36 months

      int_rate  installment grade sub_grade  ... recoveries  \
39712    8.07%        78.42     A        A4  ...        0.0
39713   10.28%       275.38     C        C1  ...        0.0
39714    8.07%       156.84     A        A4  ...        0.0
39715    7.43%       155.38     A        A2  ...        0.0
39716   13.75%       255.43     E        E2  ...        0.0

      collection_recovery_fee last_pymnt_d  last_pymnt_amnt next_pymnt_d  \
39712                     0.0       Jul-10            80.90          NaN
39713                     0.0       Jul-10           281.94          NaN
39714                     0.0       Apr-08             0.00          NaN
39715                     0.0       Jan-08             0.00          NaN
39716                     0.0       Jun-10           256.59          NaN

      last_credit_pull_d collections_12_mths_ex_med chargeoff_within_12_mths  \
39712             Jun-10                        NaN                      NaN
39713             Jul-10                        NaN                      NaN
39714             Jun-07                        NaN                      NaN
39715             Jun-07                        NaN                      NaN
39716             Jun-10                        NaN                      NaN

      pub_rec_bankruptcies tax_liens
39712                  NaN       NaN
39713                  NaN       NaN
39714                  NaN       NaN
39715                  NaN       NaN
39716                  NaN       NaN

[5 rows x 51 columns]

In [140]:
#   Lets Fetch further null details about all the columns of the dataset loan.csv. Furthermore, drop columns where null value percentage in a column is more than 20% 
loanData.isnull().sum()

#   Print the shape of dataframe before droping the columns with null value percentage > 20%
print("Before running the logic to check for columns with null value, dataframe shape is - "+str(loanData.shape))

#   Store column names with null value in variable
NullValCols = np.array(loanData.columns[loanData.isnull().any()].tolist())
#print("Total Column count with null values - "+str(len(NullValCols)) )

for i in NullValCols:
    #print("Column Name - "+str(i)+", Count of null values in this column - "+str(loanData[str(i)].isnull().sum()))
    #print("Column Name - "+str(i)+", Percentage of null values in this column - "+str(round((loanData[str(i)].isnull().sum()/len(loanData))*100,2)))
    #remove the columns with null value percentage > 20
    if round((loanData[str(i)].isnull().sum()/len(loanData))*100,2)>20:
        loanData = loanData.drop([str(i)], axis=1)

#   Print the shape of dataframe after droping the columns with null value percentage > 20%
print("After running the logic to check for columns with null value, dataframe shape is - "+str(loanData.shape))

print(loanData.head())
print(loanData.tail())

Before running the logic to check for columns with null value, dataframe shape is - (39717, 51)
After running the logic to check for columns with null value, dataframe shape is - (39717, 47)
        id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0  1077501    1296599       5000         5000           4975.0   36 months
1  1077430    1314167       2500         2500           2500.0   60 months
2  1077175    1313524       2400         2400           2400.0   36 months
3  1076863    1277178      10000        10000          10000.0   36 months
4  1075358    1311748       3000         3000           3000.0   60 months

  int_rate  installment grade sub_grade  ... total_rec_late_fee recoveries  \
0   10.65%       162.87     B        B2  ...               0.00       0.00
1   15.27%        59.83     C        C4  ...               0.00     117.08
2   15.96%        84.33     C        C5  ...               0.00       0.00
3   13.49%       339.31     C        C1  ...              16.97       0.00
4   12.69%        67.79     B        B5  ...               0.00       0.00

  collection_recovery_fee  last_pymnt_d last_pymnt_amnt last_credit_pull_d  \
0                    0.00        Jan-15          171.62             May-16
1                    1.11        Apr-13          119.66             Sep-13
2                    0.00        Jun-14          649.91             May-16
3                    0.00        Jan-15          357.48             Apr-16
4                    0.00        May-16           67.79             May-16

  collections_12_mths_ex_med chargeoff_within_12_mths pub_rec_bankruptcies  \
0                        0.0                      0.0                  0.0
1                        0.0                      0.0                  0.0
2                        0.0                      0.0                  0.0
3                        0.0                      0.0                  0.0
4                        0.0                      0.0                  0.0

  tax_liens
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0

[5 rows x 47 columns]
          id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
39712  92187      92174       2500         2500           1075.0   36 months
39713  90665      90607       8500         8500            875.0   36 months
39714  90395      90390       5000         5000           1325.0   36 months
39715  90376      89243       5000         5000            650.0   36 months
39716  87023      86999       7500         7500            800.0   36 months

      int_rate  installment grade sub_grade  ... total_rec_late_fee  \
39712    8.07%        78.42     A        A4  ...                0.0
39713   10.28%       275.38     C        C1  ...                0.0
39714    8.07%       156.84     A        A4  ...                0.0
39715    7.43%       155.38     A        A2  ...                0.0
39716   13.75%       255.43     E        E2  ...                0.0

      recoveries collection_recovery_fee  last_pymnt_d last_pymnt_amnt  \
39712        0.0                     0.0        Jul-10           80.90
39713        0.0                     0.0        Jul-10          281.94
39714        0.0                     0.0        Apr-08            0.00
39715        0.0                     0.0        Jan-08            0.00
39716        0.0                     0.0        Jun-10          256.59

      last_credit_pull_d collections_12_mths_ex_med chargeoff_within_12_mths  \
39712             Jun-10                        NaN                      NaN
39713             Jul-10                        NaN                      NaN
39714             Jun-07                        NaN                      NaN
39715             Jun-07                        NaN                      NaN
39716             Jun-10                        NaN                      NaN

      pub_rec_bankruptcies tax_liens
39712                  NaN       NaN
39713                  NaN       NaN
39714                  NaN       NaN
39715                  NaN       NaN
39716                  NaN       NaN

[5 rows x 47 columns]

In [141]:
#fetching the data for these columns 
col_list = np.array(loanData.columns.tolist())
print(col_list)

['id' 'member_id' 'loan_amnt' 'funded_amnt' 'funded_amnt_inv' 'term'
 'int_rate' 'installment' 'grade' 'sub_grade' 'emp_title' 'emp_length'
 'home_ownership' 'annual_inc' 'verification_status' 'issue_d'
 'loan_status' 'url' 'purpose' 'title' 'zip_code' 'addr_state' 'dti'
 'delinq_2yrs' 'earliest_cr_line' 'inq_last_6mths' 'open_acc' 'pub_rec'
 'revol_bal' 'revol_util' 'total_acc' 'out_prncp' 'out_prncp_inv'
 'total_pymnt' 'total_pymnt_inv' 'total_rec_prncp' 'total_rec_int'
 'total_rec_late_fee' 'recoveries' 'collection_recovery_fee'
 'last_pymnt_d' 'last_pymnt_amnt' 'last_credit_pull_d'
 'collections_12_mths_ex_med' 'chargeoff_within_12_mths'
 'pub_rec_bankruptcies' 'tax_liens']

In [142]:
#   Check if all id's and  and membership id's are unique value, if so, we can remove them as they won't help analysis

#   Print the shape of dataframe before checking the id/membership_id column
print("Before running the logic to check id/membership_id columns with all unique value, dataframe shape is - "+str(loanData.shape))

if len(loanData)==len(loanData['id'].unique()):
    loanData = loanData.drop(['id'], axis=1)

if len(loanData)==len(loanData['member_id'].unique()):
    loanData = loanData.drop(['member_id'], axis=1)

#   Print the shape of dataframe after checking the id/membership_id column
print("After running the logic to check id/membership_id columns with all unique value, dataframe shape is - "+str(loanData.shape))

print(loanData.head())
print(loanData.tail())

Before running the logic to check id/membership_id columns with all unique value, dataframe shape is - (39717, 47)
After running the logic to check id/membership_id columns with all unique value, dataframe shape is - (39717, 45)
   loan_amnt  funded_amnt  funded_amnt_inv        term int_rate  installment  \
0       5000         5000           4975.0   36 months   10.65%       162.87
1       2500         2500           2500.0   60 months   15.27%        59.83
2       2400         2400           2400.0   36 months   15.96%        84.33
3      10000        10000          10000.0   36 months   13.49%       339.31
4       3000         3000           3000.0   60 months   12.69%        67.79

  grade sub_grade                 emp_title emp_length  ...  \
0     B        B2                       NaN  10+ years  ...
1     C        C4                     Ryder   < 1 year  ...
2     C        C5                       NaN  10+ years  ...
3     C        C1       AIR RESOURCES BOARD  10+ years  ...
4     B        B5  University Medical Group     1 year  ...

  total_rec_late_fee  recoveries collection_recovery_fee last_pymnt_d  \
0               0.00        0.00                    0.00       Jan-15
1               0.00      117.08                    1.11       Apr-13
2               0.00        0.00                    0.00       Jun-14
3              16.97        0.00                    0.00       Jan-15
4               0.00        0.00                    0.00       May-16

  last_pymnt_amnt last_credit_pull_d collections_12_mths_ex_med  \
0          171.62             May-16                        0.0
1          119.66             Sep-13                        0.0
2          649.91             May-16                        0.0
3          357.48             Apr-16                        0.0
4           67.79             May-16                        0.0

  chargeoff_within_12_mths pub_rec_bankruptcies tax_liens
0                      0.0                  0.0       0.0
1                      0.0                  0.0       0.0
2                      0.0                  0.0       0.0
3                      0.0                  0.0       0.0
4                      0.0                  0.0       0.0

[5 rows x 45 columns]
       loan_amnt  funded_amnt  funded_amnt_inv        term int_rate  \
39712       2500         2500           1075.0   36 months    8.07%
39713       8500         8500            875.0   36 months   10.28%
39714       5000         5000           1325.0   36 months    8.07%
39715       5000         5000            650.0   36 months    7.43%
39716       7500         7500            800.0   36 months   13.75%

       installment grade sub_grade                   emp_title emp_length  \
39712        78.42     A        A4             FiSite Research    4 years
39713       275.38     C        C1  Squarewave Solutions, Ltd.    3 years
39714       156.84     A        A4                         NaN   < 1 year
39715       155.38     A        A2                         NaN   < 1 year
39716       255.43     E        E2            Evergreen Center   < 1 year

       ... total_rec_late_fee  recoveries collection_recovery_fee  \
39712  ...                0.0         0.0                     0.0
39713  ...                0.0         0.0                     0.0
39714  ...                0.0         0.0                     0.0
39715  ...                0.0         0.0                     0.0
39716  ...                0.0         0.0                     0.0

      last_pymnt_d last_pymnt_amnt last_credit_pull_d  \
39712       Jul-10           80.90             Jun-10
39713       Jul-10          281.94             Jul-10
39714       Apr-08            0.00             Jun-07
39715       Jan-08            0.00             Jun-07
39716       Jun-10          256.59             Jun-10

      collections_12_mths_ex_med chargeoff_within_12_mths  \
39712                        NaN                      NaN
39713                        NaN                      NaN
39714                        NaN                      NaN
39715                        NaN                      NaN
39716                        NaN                      NaN

      pub_rec_bankruptcies tax_liens
39712                  NaN       NaN
39713                  NaN       NaN
39714                  NaN       NaN
39715                  NaN       NaN
39716                  NaN       NaN

[5 rows x 45 columns]

In [143]:
#   Dropping list of columns which are not required/ helpful for our analysis

#   Print the shape of dataframe before removing the columns which are not required
print("Before removing the columns which are not required, dataframe shape is - "+str(loanData.shape))

loanData = loanData.drop(['funded_amnt_inv', 'url', 'emp_title', 'title', 'pub_rec', 'chargeoff_within_12_mths', 'tax_liens', 'collections_12_mths_ex_med', 'out_prncp_inv', 'total_pymnt_inv', 'earliest_cr_line', 'out_prncp', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d'],axis=1)

#   Print the shape of dataframe after removing the columns which are not required
print("After removing the columns which are not required, dataframe shape is - "+str(loanData.shape))

print(loanData.head())
print(loanData.tail())

Before removing the columns which are not required, dataframe shape is - (39717, 45)
After removing the columns which are not required, dataframe shape is - (39717, 26)
   loan_amnt  funded_amnt        term int_rate  installment grade sub_grade  \
0       5000         5000   36 months   10.65%       162.87     B        B2
1       2500         2500   60 months   15.27%        59.83     C        C4
2       2400         2400   36 months   15.96%        84.33     C        C5
3      10000        10000   36 months   13.49%       339.31     C        C1
4       3000         3000   60 months   12.69%        67.79     B        B5

  emp_length home_ownership  annual_inc  ...    dti delinq_2yrs  \
0  10+ years           RENT     24000.0  ...  27.65           0
1   < 1 year           RENT     30000.0  ...   1.00           0
2  10+ years           RENT     12252.0  ...   8.72           0
3  10+ years           RENT     49200.0  ...  20.00           0
4     1 year           RENT     80000.0  ...  17.94           0

  inq_last_6mths open_acc revol_bal revol_util  total_acc   total_pymnt  \
0              1        3     13648     83.70%          9   5863.155187
1              5        3      1687      9.40%          4   1008.710000
2              2        2      2956     98.50%         10   3005.666844
3              1       10      5598        21%         37  12231.890000
4              0       15     27783     53.90%         38   3513.330000

   recoveries  pub_rec_bankruptcies
0        0.00                   0.0
1      117.08                   0.0
2        0.00                   0.0
3        0.00                   0.0
4        0.00                   0.0

[5 rows x 26 columns]
       loan_amnt  funded_amnt        term int_rate  installment grade  \
39712       2500         2500   36 months    8.07%        78.42     A
39713       8500         8500   36 months   10.28%       275.38     C
39714       5000         5000   36 months    8.07%       156.84     A
39715       5000         5000   36 months    7.43%       155.38     A
39716       7500         7500   36 months   13.75%       255.43     E

      sub_grade emp_length home_ownership  annual_inc  ...    dti delinq_2yrs  \
39712        A4    4 years       MORTGAGE    110000.0  ...  11.33           0
39713        C1    3 years           RENT     18000.0  ...   6.40           1
39714        A4   < 1 year       MORTGAGE    100000.0  ...   2.30           0
39715        A2   < 1 year       MORTGAGE    200000.0  ...   3.72           0
39716        E2   < 1 year            OWN     22000.0  ...  14.29           1

      inq_last_6mths open_acc revol_bal revol_util  total_acc  total_pymnt  \
39712              0       13      7274     13.10%         40  2822.969293
39713              1        6      8847     26.90%          9  9913.491822
39714              0       11      9698     19.40%         20  5272.161128
39715              0       17     85607      0.70%         26  5174.198551
39716              0        7      4175     51.50%          8  9195.263334

       recoveries  pub_rec_bankruptcies
39712         0.0                   NaN
39713         0.0                   NaN
39714         0.0                   NaN
39715         0.0                   NaN
39716         0.0                   NaN

[5 rows x 26 columns]

In [144]:
# Further remove the Null values
loanData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   loan_amnt             39717 non-null  int64
 1   funded_amnt           39717 non-null  int64
 2   term                  39717 non-null  object
 3   int_rate              39717 non-null  object
 4   installment           39717 non-null  float64
 5   grade                 39717 non-null  object
 6   sub_grade             39717 non-null  object
 7   emp_length            38642 non-null  object
 8   home_ownership        39717 non-null  object
 9   annual_inc            39717 non-null  float64
 10  verification_status   39717 non-null  object
 11  issue_d               39717 non-null  object
 12  loan_status           39717 non-null  object
 13  purpose               39717 non-null  object
 14  zip_code              39717 non-null  object
 15  addr_state            39717 non-null  object
 16  dti                   39717 non-null  float64
 17  delinq_2yrs           39717 non-null  int64
 18  inq_last_6mths        39717 non-null  int64
 19  open_acc              39717 non-null  int64
 20  revol_bal             39717 non-null  int64
 21  revol_util            39667 non-null  object
 22  total_acc             39717 non-null  int64
 23  total_pymnt           39717 non-null  float64
 24  recoveries            39717 non-null  float64
 25  pub_rec_bankruptcies  39020 non-null  float64
dtypes: float64(6), int64(7), object(13)
memory usage: 7.9+ MB

In [145]:
# #Standardizing data

# loanData.int_rate = pd.to_numeric(loanData.int_rate.apply(lambda x : x.split('%')[0]))
# loanData.emp_length = pd.to_numeric(loanData.emp_length.apply(lambda x: 0 if "<" in str(x) else (str(x).split('+')[0] if "+" in str(x) else str(x).split()[0])))
# loanData.term = pd.to_numeric(loanData.term.apply(lambda x : str(x).replace("months","").strip()))
# loanData.zip_code = pd.to_numeric(loanData.zip_code.apply(lambda x : str(x).replace("x","").strip()))

# loanData.head()
# loanData.tail()

### Cleaning Analysis

dtypes: float64(20), int64(13), object(24)<br>
No duplicate rows found on basis of id column<br>
There were 6 columns which were dropped as those had only 1 value for all rows, which was not helpful for the analysis<br>
We can see for these 4 columns, named as  'mths_since_last_record', 'mths_since_last_delinq', 'desc' and 'next_pymnt_d', has the null value percentage greater than 20%. Therefore, we have to drop these above columns.<br> 
Dropped 'id' and 'membership_id' as they have unique values across the table and couldn't help us further with the analysis<br>
After deleting the non required columns, we are left with 26 columns